# =============================================================================
# Email Configuration
# =============================================================================
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=your_email@domain.com
SENDER_PASSWORD=your_app_password_here

DB_HOST=localhost
DB_PORT=5445
DB_NAME=your_db_name
DB_USER=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD